<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBeer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D5CB997251CBB4D005A90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D5CB9AD251CBB50005A90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D5CB9B8251CBB50005A90E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
